openapi: 3.0.2
info:
  title: ROLingvistica API
  description: This is a public API used for the Romanian linguistics website
  version: 0.0.1
servers:
  - url: http://localhost:8080
    description: backendu
tags:
  - name: problem
    description: Operations related to problems
  - name: requirement
    description: Operations related to requirements
  - name: answers
    description: Operations related to answers

paths:
  /problem:
    get:
      tags:
        - "problem"
      operationId: listProblemsGroupedBySectionAndContest
      summary: returns all the problems grouped by section and contests
      description: returns all the problems grouped by section and contests
      responses:
        '200':
          description: A JSON
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContestProblemsDTO'
  /problem/old:
    get:
      tags:
        - "problem"
      operationId: getAll
      summary: get all problems
      responses:
        '200':
          description: A list containing all problems
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProblemDTO'
  /requirement/{problemId}:
    get:
      tags:
        - "requirement"
      operationId: getRequirementsByProblemId
      summary: fetch a list of requirements assigned to a problem
      parameters:
        - in: path
          name: problemId
          schema:
            type: integer
            format: int64
          required: true
          description: The Id of the problem for which to return the list of requirements
      responses:
        '200':
          description: list of requirements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RequirementDTO'
  /answer/{requirementId}:
    get:
      tags:
        - "answer"
      operationId: getAnswersByRequirementId
      summary: Fetch a list of answers of a requirement
      parameters:
        - in: path
          name: requirementId
          schema:
            type: integer
            format: int64
          required: true
          description: The ID of the requirement to which the answers were given
      responses:
        '200':
          description: List of answers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AnswerDTO'
  /answer/{requirementId}/grouped:
    get:
      tags:
        - "answer"
      operationId: GetAnswersByRequirementIdGroupedByProvidedAnswer
      summary: Fetch a List of unique answers for a requirement.
      parameters:
        - in: path
          name: requirementId
          schema:
            type: integer
            format: int64
          required: true
          description: The ID of the requirement to which the answers were given
      responses:
        '200':
          description: List of answers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupedAnswerDTO'

components:
  schemas:
    ProblemDTO:
      description: An object containing info about a problem given at a certain contest under a give section
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        contestName:
          type: string
        sectionName:
          type: string
      required:
        - name
    SectionProblemsDTO:
      description: An object containing a section and the list of problems given at that section
      properties:
        name:
          type: string
          description: the name of the section
        children:
          type: array
          items:
            $ref: '#/components/schemas/ProblemDTO'
          description: a list of problems for this section
      required:
        - name
    ContestProblemsDTO:
      description: An object containing a contest and all the sections from that contest, including the problems for each section
      properties:
        name:
          type: string
          description: the name of the contest
        children:
          type: array
          items:
            $ref: '#/components/schemas/SectionProblemsDTO'
          description: a list of sections contained in this contest. The sections contain a list of problems corresponding to this contest and the corresponding section
      required:
        - name
    RequirementDTO:
      description: An object containing basic info about a requirement.
      properties:
        id:
          type: integer
          format: int64
        specification:
          type: string
          description: Explanation of what was asked for this requirement
        correctAnswer:
          type: string
          description: The correct answer expected for this requirement.
    AnswerDTO:
      description: An object containing basic info about an answer.
      properties:
        id:
          type: integer
          format: int64
        requirementId:
          type: integer
          format: int64
          description: The Id of the requirement this answer was given to
        providedAnswer:
          type: string
          description: The answer provided by the contestant for the requirement
    GroupedAnswerDTO:
      description: An object representing all the answers with the same providedAnswer to a given requirement.
      properties:
        providedAnswer:
          type: string
        requirementId:
          type: integer
          format: int64
          description: The requirement for which all these answers were given.
        nrOfAnswers:
          type: integer
          format: int32
      required:
        - providedAnswer
        - requirementId
        - nrOfAnswers